<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hola Django</h1>
    <table style="width: 100%;" border="1">
        <thead style="background-color: #008000;">
            <tr style="color: #FFFFFF;">
                <th style="color: #FFFFFF;">
                    ID
                </th>
                <th style="color: #FFFFFF;">
                    Nombre
                </th>
                <th style="color: #FFFFFF;">
                    Mail
                </th>
                <th style="color: #FFFFFF;">
                    Edad
                </th>
            </tr>
            <tr style="color: #FFFFFF;">
                <td style="color: #FFFFFF;">
                    1
                </td>
                <td style="color: #FFFFFF;">
                    erik
                </td>
                <td style="color: #FFFFFF;">
                    erik@almacen.com
                </td>
                <td style="color: #FFFFFF;">
                    25
                </td>

            </tr>
        </thead>
    </table>
</body>
</html>